.Card {
	width: 7rem;
	height: 100%;
	margin-right: 0.3rem;
	margin-bottom: 0.8rem;
	display: flex;
	flex-direction: column;
	align-items: stretch;
}

.ButtonGroup {
	display: flex;
	font-size: 0.7rem;
}

.Card button {
	border-radius: 0;
	width: 50%;
	padding: 0.3rem 0;
	color: #fff;
}
.Card img {
	flex: 1;
}
.Add {
	background: #ff4040;
}

.Minus {
	background: #4e4e4e;
}

@media only screen and (min-width: 767px) {
	.Card {
		width: 10rem;
	}
}

@media only screen and (min-width: 1050px) {
	.Card {
		width: 13rem;
	}
}

@media only screen and (min-width: 1600px) {
	.Card {
		width: 15rem;
	}
}
