.Instructions {
	min-height: calc(80vh - 70px);
}


.Instructions li {
	padding: 1rem 0;
}

@media only screen and (min-width: 767px) {
	.Instructions {
		min-height: calc(90vh - 70px);
	}
	.Instructions ol {
		width: 50%;
		margin: 0 auto;
	}
}
