.Button {
	transition: all 0.2s ease-in-out;
}
.Button:hover,
.Button:focus {
	transform: scale(1.05);
}

.Button:disabled {
	cursor: not-allowed;
	opacity: 0.5;
}

.Button:disabled:hover {
	cursor: not-allowed;
	opacity: 0.5;
	transform: scale(1);
}

.Add {
	background: #ff4040;
}

.Minus {
	background: #4e4e4e;
}

.Final {
	background: #004f3f;
	height: 60px;
	width: 25%;
	color: #fff;
}
.Final:hover {
	background: #004f3fc4;
}

.DefaultColor {
	background: #bbb9b9;
}
